<div data-ng-hide="authentication.isAuth" class="jumbotron">
    <div class="container">
        <form role="form">
                
                <div class="col-md-6 text-center">
                    <h2 class="form-login-heading">{{translation.LOGIN}}</h2> <br>
                    <hr>
                    <input type="text" class="form-control" placeholder="{{translation.USERNAME}}" data-ng-model="loginData.userName" required autofocus>
                    <br>
                    <input type="password" class="form-control" placeholder="{{translation.PASSWORD}}" data-ng-model="loginData.password" required>
                    <br>
                    <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">{{translation.LOGIN}}</button>
                     <div class="col-md-12"><br></div>
                    <div data-ng-hide="message == ''" class="text-center _btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-danger">
                        {{message}}
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <h2>{{translation.SOCIAL}}</h2><br>
<hr>
                    <div id="socialLoginList">
                        <div class="btn-group-vertical" aria-label="Login Providers">
                            <button data-ng-click="pulldate()" name="provider" title="Log in using your Vkontakte account." class="btn btn-lg btn-vkontakte" id="Vkontakte" aria-label="Vkontakte" type="submit" value="Vkontakte">
                                <i class="fa fa-vkontakte"></i>
                                Vkontakte
                            </button>
                            <button data-ng-click="pulldate()" name="provider" title="Log in using your Facebook account." class="btn btn-lg btn-facebook" id="Facebook" aria-label="Facebook" type="submit" value="Facebook">
                                <i class="fa fa-facebook"></i>
                                Facebook
                            </button>
                            <button data-ng-click="pulldate" name="provider" title="Log in using your Twitter account." class="btn btn-lg btn-twitter" id="Twitter" aria-label="Twitter" type="submit" value="Twitter">
                                <i class="fa fa-twitter"></i>
                                Twitter
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>