.banner{
	background: url(http://res.cloudinary.com/drontik/image/upload/v1479751702/courseProject/banner_new_nmibtp_dlbkl6.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size:cover; 
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:370px;	
}	
.logo {
	margin-top: 10em;
	text-align:center;
}

.blog-grids {
  padding: 1em 0;
  border-bottom: 1px dotted #000;
}


.blog-grids {
  padding: 1em 0;
  border-bottom: 1px dotted #000;
}
.blog-grid-left {
  float: left;
  width: 27%;
}
.blog-grid-right {
  float: left;
  width: 66%;
  margin-left: 1em;
}
.blog-grid-right h4 a {
  color: #26313b;
  font-size: 0.85em;
  margin: 0 0 .5em 0;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
}
.blog-grid-right h4 a:hover{
  color: #f53f1a;
}
.blog-grid-right h4{
  margin: 0;
}
.blo-top {
  padding: 1em 1em;
  border: 1px solid #D8DADC;
  margin: 1em 0;
}
.blog-grid-right p {
  color: #302e2e;
  font-size: 0.9em;
  margin: 0.3em 0 0;
  line-height: 1.5em;
  font-weight: 400;
}
.blo-top li {
  display: block;
  line-height: 2em;
  border-bottom:1px dotted #302e2e;
}
.blo-top li a {
  color: #302e2e;
  font-size: 1.1em;
  line-height: 2.8em;
  padding: 1em;
  text-decoration: none;
}
.blo-top li a:hover{
	color:#f53f1a;
}

.bann-left h3 {
/*  background:#FF761A;*/
  color: #fff;
  padding: 0.5em 1em;
  margin: 1.5em 0 0;
  font-size: 1.3em;
  font-family: 'Libre Baskerville', serif;
}

.blo-top form input[type="text"] {
  width: 100%;
  color: #898888;
  outline: none;
  font-size: 16px;
  padding: .5em;
  border: 1px solid #eee;
  -webkit-appearance: none;
}
.blo-top form input[type="submit"] {
  background: #26313b;
  padding: .3em 1em;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: block;
  outline: none;
  border: none;
  width: 100%;
}
.blo-top form input[type="submit"]:hover{
	background:#f53f1a;
}


.main-content {
    display: flex;
    flex-direction: row-reverse;
}
.main-content > div:last-child {
}

.blog-post .alert-info {
    padding: 5px 15px;
}

.full-width {
    width: 100%;
}

.dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.black {
    color: black;
}

.pictu {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.design { 
    display: inline-block; /* Строчно-блочный элемент */ 
    padding: 5px 20px; /* Добавляем поля */ 
    text-decoration: none; /* Убираем подчёркивание у ссылки */ 
    cursor: pointer; /* Курсор в виде руки */ 
    background: #deefff; /* Фон для браузеров, не поддерживающих градиент */ 
    /* Градиент */ 
    background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); 
    background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%); 
    background: -o-linear-gradient(top, #deefff 0%,#98bede 100%); 
    background: -ms-linear-gradient(top, #deefff 0%,#98bede 100%); 
    background: linear-gradient(top, #deefff 0%,#98bede 100%); 
    border-radius: 10px; /* Скругляем уголки */ 
    border: 1px solid #008; /* Добавляем синюю рамку */ 
    font: 12px/1 Arial, sans-serif; /* Рубленый шрифт */ 
    color: #2c539e; /* Цвет текста и ссылки */ 
}